html {
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
    letter-spacing: 0.006em;
    transition: background 0.3s linear;
    width: calc(100% - 200px);
    padding-right: 100px;
    display: flex;
    flex-direction: row;
}

a {
    color: black;
    opacity: 0.7;
    transition: all ease-in 0.2s;
}

a:hover {
    opacity: 1;
    text-shadow: 3px 4px 5px 1px rgba(0, 0, 0, .2);
}

.sidebar {
    margin-left: 3rem;
    padding-top: 2rem;
    position: fixed;
    width: 10%;
    padding-right: 5rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scroll-behavior: smooth;
}

.sidebar-item {
    font-family: Roboto, sans-serif;
    opacity: 0.5;
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: lighter;
    color: black;
    cursor: pointer;
    transition: opacity ease-in 0.1s, transform ease-in 0.2s;
    text-decoration: none;
    margin-left: 1rem;
    letter-spacing: 2px;
}

.sidebar-item:hover {
    opacity: 1;
    transform: scale(1.01);
    text-shadow: 3px 4px 5px 1px rgba(0, 0, 0, .2);
}

.sidebar-footer {
    position: absolute;
    bottom: 8rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.content {
    margin-right: auto;
    overflow-y:auto;
    margin-left: 350px;
    width: calc(100% - 300px);
    margin-top: 8rem;
    scroll-behavior: smooth;
}

h1 {
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
    line-height: 155%;
    font-weight: normal;
    color: #000000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.09px;
    margin-left: 50px;
}

.small {
    padding-left: 50px;
    font-size: 15px;
    opacity: 0.7;
}

p {
    font-size: 18px;
    line-height: 150%;
    font-weight: normal;
    color: #444340;
    margin-bottom: 30px;
}

.logo {
    width: 12rem;
    align-self: center;
    height: 12rem;
    opacity: 0.8;
}

section {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
}

article {
    padding-right: 5rem;
    flex: 3;
}

.sides {
    display: flex;
}

.side {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    flex: 1;
    margin-left: 2rem;
    border-radius: 10px;
    max-height: 554px;
    max-width: 256px;
    margin-top: 20px;
}

.side-image {
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
}

.icon-container {
    margin-top: 5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container a {
    transition: all ease-in 0.2s;
    opacity: 0.6;
    margin-top: 5px;
}
.icon-container a:hover {
    opacity: 1;
}

.icon-container a:hover img {
    border-radius: 5px;
    transform: scale(1.01);
    box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, .2);
}

.store-icon {
    width: 119px;
}

@media only screen and (max-width: 1700px) {
    #relating {
        flex-direction: column;
    }
}
@media only screen and (max-width: 1400px) {
    .sides {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    section {
        flex-direction: column;
    }

    .sides {
        flex-direction: column;
    }
    article {
        justify-content: center;
    }

    h3 {
        margin-left: 0;
    }

    .small {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }

    .sidebar .sidebar-item {
        font-size: 26px;
        font-weight: bold !important;
        opacity: 1;
        margin-top: 3rem;
    }

    .sidebar {
        width: 100px;
    }

    .side {
        max-height: 554px;
        max-width: 256px;
        padding: 227px 128px;
        margin-left: 0;
    }
    .side-image {
        transform: scale(1.5);
    }
}
